torch
torchvision
torchaudio
torch-geometric
transformers
pyevmasm
scikit-learn
xgboost
lightgbm
pandas
numpy
matplotlib
seaborn
tensorboard
pyyaml
scipy
imbalanced-learn
iterative-stratification
jupyter
openpyxl
pytest
